.combo-box-base .text{
    -fx-fill: #385d8a;
    -fx-font-size : 12pt;
}
.combo-box-popup .list-view {
    -fx-font-color: #385d8a;
    -fx-font-size : 12pt;
}
.combo-box-popup .list-view .list-cell {
    -fx-padding: -1 -1 -1 10;
}
.combo-box .list-view: first-child {
    -fx-background-color: #eb6589;
}
 .combo-box-popup .list-view .list-cell: selected{
    -fx-background-color: #dad8d8;
 }
.combo-box-popup .list-view .list-cell: hover{
    -fx-background-color:  #92a8a2;
}
.text-input {
    -fx-text-fill: #385d8a;
}
.table-view .column-header{
     -fx-background-color:  #c1bebe;
 }
.table-view .column-header .label{
    -fx-background-color:  transparent;
    -fx-text-fill: #385d8a;
    -fx-alignment: CENTER-LEFT;
}
.table-column {
  -fx-alignment: CENTER-LEFT;
}
.table-row-cell {
   -fx-text-background-color: #344e6e;
}
.table-row-cell:even{
     -fx-background-color: #d1e0dc;
}
.table-row-cell:odd{
     -fx-background-color: #b3cbc5;
}
.table-row-cell: selected {
-fx-background-color: #92a8a2;
}

// styling of empty rows on purpose to get one-color area
.table-row-cell:empty {
    -fx-background-color: #adc7c0;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}